/*body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex:1 0 auto;
}*/
.container{
    width: 90%;
    min-width: 992px;
    max-width: 1600px;
}
nav.first{
    background: url('../i/main.jpg') no-repeat top center;
    height: 833px;
}
.logos{
    font-size: 50px;
    padding-top: 500px;
    padding-left: 30%;
    text-transform:uppercase;
    font-weight: bold;
    font-style:italic;
}
.main__black p{
    background: black;
    color:white;
    margin-top: 0;
    padding: 30px 150px;
}
.main__black .container, .main__white .container{
    width: 70%;
}
.main__white span{
    text-transform:uppercase;
    font-weight: bold;
}
.page-footer{
    background: #333;
}