body{
	background-color:black;
	color:white;
}
img{
	width: 100vw;
}
#main{
	max-width:1600px;
	min-width:900px;
	
}
#main__img{
	width: 100vw;
}
.main__cart_item{
	float:left;
}
.main__cart_item{
	width:500px;
}
.main__cart_img{
	max-width: 100%;
}