body{
	background-color:black;
	color:white;
}
img{
	width: 100vw;
}
#main{
	max-width:1600px;
	min-width:900px;
}
#main__img{
	width: 100vw;
}
.main__cart_item{
	float:left;
}
.main__cart_item{
	width:500px;
}
.main__cart_img{
    max-width: 100%;
}
@font-face {
    font-family: 'Humnst777 BT';
    src: url('../f/Humanist777BT-RomanB.eot');
    src: url('../f/Humanist777BT-RomanB.eot?#iefix') format('embedded-opentype'),
        url('../f/Humanist777BT-RomanB.woff2') format('woff2'),
        url('../f/Humanist777BT-RomanB.woff') format('woff'),
        url('../f/fHumanist777BT-RomanB.ttf') format('truetype'),
        url('../f/fHumanist777BT-RomanB.svg#Humanist777BT-RomanB') format('svg');
    font-weight: normal;
    font-style: normal;
}
.h{
    font-family: 'Humnst777 BT';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SIMSUNB';
    src: url('../f/SIMSUNB.ttf');
    font-weight: normal;
    font-style: normal;
}
.h2{
    font-family: 'SIMSUNB';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT0857M_';
    src: url('../f/TT0857M_.ttf');
    font-weight: normal;
    font-style: normal;
}
.h3{
    font-family: 'TT0857M_';
    font-weight: normal;
    font-style: normal;
}
